[Desktop Entry]
Encoding=UTF-8
Name=Link to Best Practices Software engineering
Type=Link
URL=http://www.farnell.com/datasheets/385395.pdf
Icon=text-html
